body,html,p,h2{
    padding: 0;
    margin: 0;
}
body{
    background: #eee;
}
.tab-btns{
    position: relative;
    display: flex;
    width: 100%;
    background: #fff;
    margin-bottom: 15px;
}
.tab-btns:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #CCCCCC;
    color: #CCCCCC;
}
.tab-selected{
    color:#F16938;
}
.left-btn,.right-btn{
    position: relative;
    flex:1;
    padding: 13px 0;
    text-align: center;
    font-size: 15px;
}

.left-btn:after{
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-right: 1px solid #CCCCCC;
    color: #CCCCCC;
}
.left-list .right-list{
    background: #ccc;

}
.coupon{
    display: flex;
    align-items:center;
    margin: 0 10px 5px 10px;
    background: #fff;
    border-radius: 3px;
}
.coupon-img{
    flex:0.3;
}
.coupon-img img{
    width: 100%;
}
.coupon-detail{
    flex: 0.7;
    padding: 10px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px dashed #ccc;
}
.coupon-detail h2{
    margin-bottom: 10px;
}
.coupon-detail p{
    color: #ccc;
    margin: 2px 0;
}