html,body,ul{
    margin: 0;
    padding: 0;
    font-family:cursive,Microsoft YaHei;
}
.container{
    margin: 0 auto;
}
.header{
    background-color: #000;
    display: flex;
    justify-content: center;
}
.navbar ul{
    display: flex;
    justify-content:center;
    height: 80px;
    background-color: #F5F5F5;
}
.navbar li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12.5%;
    height: 80px;
    list-style-type: none;
    background-color: #fff;
    box-shadow: -6px 0px 10px -4px #888888;
    cursor: pointer;
}
.hvr-rectangle-out:before{
    background:#F59E8A;
}
.slider-img img{
    width: 100%;
}
.slider-btns{
    display: flex;
    justify-content: center;
    position: relative;
    top: -50px;
}
.slider-btns img{
    width: 45px;
    height: 45px;
}
.slider-btn{
    width: 90px;
    height: 45px;
    background-color: #ccc;
    text-align: center;
    cursor: pointer;
   
}