body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,figure,table,td,img{
    margin:0;padding:0;border:0;
    font-family: cursive,Microsoft YaHei;
    } 
h2{
    word-break: break-all;
}
.container{
    margin: 0 auto;
}
.center-content{
    max-width: 75%;
    margin: 0 auto;
}
.divider{
    width: 100%;
    height: 2px;
    background: #EDEDED;
}
.header{
    background-color: #000;
    display: flex;
    justify-content: center;
}
.navbar ul{
    display: flex;
    justify-content:center;
    height: 80px;
    background-color: #F5F5F5;
}
.navbar li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12.5%;
    height: 80px;
    list-style-type: none;
    background-color: #fff;
    box-shadow: -6px 0px 10px -4px #888888;
    cursor: pointer;
}
.hvr-rectangle-out:before{
    background:#F59E8A;
}
.slider{
    position: relative;
    display: flex;
    justify-content: center;
}
.slider-img img{
    width: 100%; 
    display: block;
}
.slider-btns{
    display: flex;  
    position: absolute;
    bottom: 0px;
}
.slider-btns img{
    width: 45px;
    height: 45px;
}
.slider-btn{
    width: 65px;
    height: 45px;
    background-color: rgba(0,0,0,.5);
    text-align: center;
    cursor: pointer; 
}
.slider-info{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0,0,0,.5);
}
.selected-info{
     background-color: rgba(245,158,138,.8);
}
.contact{
    height: 80px;
    display: flex;
    justify-content:center;
    align-items: center;
    background: #F59E8A;
   
}
.third-part,.telephone{
    width: 17%;
    text-align: center;
}
.telephone p:nth-child(1){
    font-size: 22px;
}
.third-part{
    display: flex;
    justify-content: center;
}
.third-part img{
    width: 55px;
    height: 55px;
}
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}
.contact-info p:nth-child(1){
    font-size: 22px;
}
/*works*/
.works{
    margin-top:15px;
    margin-bottom: 15px;
}
.basic-header{
    padding: 15px;
}
.basic-header em{
    color: #86D4CD;
}
.basic-header h1{
    margin: 10px 0;
}
.basic-header p{
    color: #B7B7B7;
    word-break: break-word;
}
.works-imgs{
    display: flex;
    margin-top: 15px;
}
.works-left{
    flex:1;
    margin-right: 8px;
}
.works-right{
    display: flex;
    flex-direction: column;
    flex:1;
}
.works-right-top{
    display: flex;
    justify-content:space-between;
    flex:1;
}
.works-right-top img{
    width: calc(50% - 2.5px) !important;
}
.works-right-btm{
    flex:1;
    margin-top: 8px;
}
.works-imgs img{
    width: 100%;
    height: 100%;
    display: block;
}
.free-ad{
    display: flex;
    background: #FFF1F1;
}
.free-header{
    width:60%;
}
.free-img{
    width: 40%
}
.free-img img{
    width: 100%;
}
.free-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.free-click{
    width: 25%;
    background: #86D4CD;
    color: #fff;
    height: 45px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}
.free-click em{
    color: #fff;
}
.zunxiang{
    color:#F59E8A;
}
.customer-header{
    display: flex;
    align-items:center;
    background: #FEBBAB;
    border-top: 5px solid #51B8B1;
    margin-top: 15px;
    padding: 15px;
}
.customer-header em{
    color: #fff;
    margin-right: 5px;
}
